 <!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>TETA ID pracowników</title>
<!-- Arkusz stylów P.W. Autos Sp. z o.o.  -->
<link href="css/autos-admin.css" rel="stylesheet">
<!-- IKONKA AUTOS -->
<link rel="shortcut" href="favicon.ico" type="image/x-icon" />
<!-- KONIEC IKONKA AUTOS -->
</head>
<body>
<div class="d_err">
<p class="p_err">Nie jeseś zalogowany. <a href="index.php" class="a_logout">Przejdź do strony logowania</a></p> 
</div>
</body>
</html>